<div class="list-group">
  {{#each model as |hit|}}
  <div class="list-group-item">
    <h4 class="list-group-item-heading">{{hit.title}}</h4>
    <div class="list-group-item-text">{{{hit.body}}}</div>
  </div>
  {{/each}}
</div>
